ion-item.block {
  --border-style: 1px black;
  --border-color: #d6cfcf;
  --border-width: 1px;
  --border-radius: 4px;
  --padding-start: 0;
  margin: 10px 0;
  --inner-border-width: 0;
  --inner-padding-bottom: 8px;
  --inner-padding-start: 8px;
  --inner-padding-top: 8px;
  --inner-padding-end: 8px;
  font-size: 14px;
  line-height: 21px;
  color: #585454;
  white-space: pre-wrap;
  border: 1px solid #d6cfcf;
  box-sizing: border-box;
  border-radius: 4px;
  .link {
    margin-top: 15px;
    text-decoration: underline;
    color: #2b637e;
    font-weight: normal;
  }
}
