# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
node_modules/
tmp/
temp/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
platforms/
www/
platforms/ios/ios.json
platforms/ios/Pods/Pods.xcodeproj/xcuserdata/timkovik.xcuserdatad/xcschemes/Pods-Postsrvs.xcscheme
platforms/ios/Pods/Pods.xcodeproj/xcuserdata/timkovik.xcuserdatad/xcschemes/PromisesObjC.xcscheme
platforms/ios/Pods/Pods.xcodeproj/xcuserdata/timkovik.xcuserdatad/xcschemes/xcschememanagement.plist
platforms/ios/Postsrvs/config.xml
platforms/ios/Postsrvs/Postsrvs-Info.plist
platforms/ios/Postsrvs.xcodeproj/project.pbxproj
platforms/ios/www/index.html
dist/out-tsc/e2e/src/app.e2e-spec.js
dist/out-tsc/e2e/src/app.e2e-spec.js.map
dist/out-tsc/e2e/src/app.po.js
dist/out-tsc/e2e/src/app.po.js.map
dist/out-tsc/src/main.js
dist/out-tsc/src/main.js.map
dist/out-tsc/src/polyfills.js
dist/out-tsc/src/polyfills.js.map
dist/out-tsc/src/test.js
dist/out-tsc/src/test.js.map
dist/out-tsc/src/zone-flags.js
dist/out-tsc/src/zone-flags.js.map
dist/out-tsc/src/app/app-routing.module.js
dist/out-tsc/src/app/app-routing.module.js.map
dist/out-tsc/src/app/app.component.js
dist/out-tsc/src/app/app.component.js.map
dist/out-tsc/src/app/app.component.spec.js
dist/out-tsc/src/app/app.component.spec.js.map
dist/out-tsc/src/app/app.module.js
dist/out-tsc/src/app/app.module.js.map
dist/out-tsc/src/app/components/balance/cashout-fail-o/cashout-fail-o.component.js
dist/out-tsc/src/app/components/balance/cashout-fail-o/cashout-fail-o.component.js.map
dist/out-tsc/src/app/components/balance/cashout-fail-o/cashout-fail-o.component.spec.js
dist/out-tsc/src/app/components/balance/cashout-fail-o/cashout-fail-o.component.spec.js.map
dist/out-tsc/src/app/components/balance/cashout-w/cashout-w.component.js
dist/out-tsc/src/app/components/balance/cashout-w/cashout-w.component.js.map
dist/out-tsc/src/app/components/balance/cashout-w/cashout-w.component.spec.js
dist/out-tsc/src/app/components/balance/cashout-w/cashout-w.component.spec.js.map
dist/out-tsc/src/app/components/balance/review/review.component.js
dist/out-tsc/src/app/components/balance/review/review.component.js.map
dist/out-tsc/src/app/components/balance/review/review.component.spec.js
dist/out-tsc/src/app/components/balance/review/review.component.spec.js.map
dist/out-tsc/src/app/components/courier/orders-list-first/orders-list-first.component.js
dist/out-tsc/src/app/components/courier/orders-list-first/orders-list-first.component.js.map
dist/out-tsc/src/app/components/courier/orders-list-first/orders-list-first.component.spec.js
dist/out-tsc/src/app/components/courier/orders-list-first/orders-list-first.component.spec.js.map
dist/out-tsc/src/app/components/courier/orders-list-guess/orders-list-guess.component.js
dist/out-tsc/src/app/components/courier/orders-list-guess/orders-list-guess.component.js.map
dist/out-tsc/src/app/components/courier/orders-list-guess/orders-list-guess.component.spec.js
dist/out-tsc/src/app/components/courier/orders-list-guess/orders-list-guess.component.spec.js.map
dist/out-tsc/src/app/components/courier/orders-list-second/orders-list-second.component.js
dist/out-tsc/src/app/components/courier/orders-list-second/orders-list-second.component.js.map
dist/out-tsc/src/app/components/courier/orders-list-second/orders-list-second.component.spec.js
dist/out-tsc/src/app/components/courier/orders-list-second/orders-list-second.component.spec.js.map
dist/out-tsc/src/app/guards/auth.guard.js
dist/out-tsc/src/app/guards/auth.guard.js.map
dist/out-tsc/src/app/guards/auth.guard.spec.js
dist/out-tsc/src/app/guards/auth.guard.spec.js.map
dist/out-tsc/src/app/home/home.module.js
dist/out-tsc/src/app/home/home.module.js.map
dist/out-tsc/src/app/home/home.page.js
dist/out-tsc/src/app/home/home.page.js.map
dist/out-tsc/src/app/home/home.page.spec.js
dist/out-tsc/src/app/home/home.page.spec.js.map
dist/out-tsc/src/app/interceptors/http.interceptor.js
dist/out-tsc/src/app/interceptors/http.interceptor.js.map
dist/out-tsc/src/app/interfaces/reason.js
dist/out-tsc/src/app/interfaces/reason.js.map
dist/out-tsc/src/app/interfaces/response.js
dist/out-tsc/src/app/interfaces/response.js.map
dist/out-tsc/src/app/interfaces/rules.js
dist/out-tsc/src/app/interfaces/rules.js.map
dist/out-tsc/src/app/interfaces/statuses.js
dist/out-tsc/src/app/interfaces/statuses.js.map
dist/out-tsc/src/app/pages/about/about-routing.module.js
dist/out-tsc/src/app/pages/about/about-routing.module.js.map
dist/out-tsc/src/app/pages/about/about.module.js
dist/out-tsc/src/app/pages/about/about.module.js.map
dist/out-tsc/src/app/pages/about/about.page.js
dist/out-tsc/src/app/pages/about/about.page.js.map
dist/out-tsc/src/app/pages/about/about.page.spec.js
dist/out-tsc/src/app/pages/about/about.page.spec.js.map
dist/out-tsc/src/app/pages/balance/balance.module.js
dist/out-tsc/src/app/pages/balance/balance.module.js.map
dist/out-tsc/src/app/pages/balance/balance.page.js
dist/out-tsc/src/app/pages/balance/balance.page.js.map
dist/out-tsc/src/app/pages/balance/balance.page.spec.js
dist/out-tsc/src/app/pages/balance/balance.page.spec.js.map
dist/out-tsc/src/app/pages/courier/courier.module.js
dist/out-tsc/src/app/pages/courier/courier.module.js.map
dist/out-tsc/src/app/pages/courier/courier.page.js
dist/out-tsc/src/app/pages/courier/courier.page.js.map
dist/out-tsc/src/app/pages/courier/courier.page.spec.js
dist/out-tsc/src/app/pages/courier/courier.page.spec.js.map
dist/out-tsc/src/app/pages/draw/draw.module.js
dist/out-tsc/src/app/pages/draw/draw.module.js.map
dist/out-tsc/src/app/pages/draw/draw.page.js
dist/out-tsc/src/app/pages/draw/draw.page.js.map
dist/out-tsc/src/app/pages/draw/draw.page.spec.js
dist/out-tsc/src/app/pages/draw/draw.page.spec.js.map
dist/out-tsc/src/app/pages/login/login.module.js
dist/out-tsc/src/app/pages/login/login.module.js.map
dist/out-tsc/src/app/pages/login/login.page.js
dist/out-tsc/src/app/pages/login/login.page.js.map
dist/out-tsc/src/app/pages/login/login.page.spec.js
dist/out-tsc/src/app/pages/login/login.page.spec.js.map
dist/out-tsc/src/app/pages/map/map.module.js
dist/out-tsc/src/app/pages/map/map.module.js.map
dist/out-tsc/src/app/pages/map/map.page.js
dist/out-tsc/src/app/pages/map/map.page.js.map
dist/out-tsc/src/app/pages/map/map.page.spec.js
dist/out-tsc/src/app/pages/map/map.page.spec.js.map
dist/out-tsc/src/app/pages/order/order.module.js
dist/out-tsc/src/app/pages/order/order.module.js.map
dist/out-tsc/src/app/pages/order/order.page.js
dist/out-tsc/src/app/pages/order/order.page.js.map
dist/out-tsc/src/app/pages/order/order.page.spec.js
dist/out-tsc/src/app/pages/order/order.page.spec.js.map
dist/out-tsc/src/app/pages/settings/settings.module.js
dist/out-tsc/src/app/pages/settings/settings.module.js.map
dist/out-tsc/src/app/pages/settings/settings.page.js
dist/out-tsc/src/app/pages/settings/settings.page.js.map
dist/out-tsc/src/app/pages/settings/settings.page.spec.js
dist/out-tsc/src/app/pages/settings/settings.page.spec.js.map
dist/out-tsc/src/app/pages/settings/about/about-routing.module.js
dist/out-tsc/src/app/pages/settings/about/about-routing.module.js.map
dist/out-tsc/src/app/pages/settings/about/about.module.js
dist/out-tsc/src/app/pages/settings/about/about.module.js.map
dist/out-tsc/src/app/pages/settings/about/about.page.js
dist/out-tsc/src/app/pages/settings/about/about.page.js.map
dist/out-tsc/src/app/pages/settings/about/about.page.spec.js
dist/out-tsc/src/app/pages/settings/about/about.page.spec.js.map
dist/out-tsc/src/app/pages/test/test.module.js
dist/out-tsc/src/app/pages/test/test.module.js.map
dist/out-tsc/src/app/pages/test/test.page.js
dist/out-tsc/src/app/pages/test/test.page.js.map
dist/out-tsc/src/app/pages/test/test.page.spec.js
dist/out-tsc/src/app/pages/test/test.page.spec.js.map
dist/out-tsc/src/app/pipes/o-t-tab-pipe.pipe.js
dist/out-tsc/src/app/pipes/o-t-tab-pipe.pipe.js.map
dist/out-tsc/src/app/pipes/o-t-tab-pipe.pipe.spec.js
dist/out-tsc/src/app/pipes/o-t-tab-pipe.pipe.spec.js.map
dist/out-tsc/src/app/pipes/statuses.pipe.js
dist/out-tsc/src/app/pipes/statuses.pipe.js.map
dist/out-tsc/src/app/pipes/statuses.pipe.spec.js
dist/out-tsc/src/app/pipes/statuses.pipe.spec.js.map
dist/out-tsc/src/app/services/auth.service.js
dist/out-tsc/src/app/services/auth.service.js.map
dist/out-tsc/src/app/services/auth.service.spec.js
dist/out-tsc/src/app/services/auth.service.spec.js.map
dist/out-tsc/src/app/services/courier.service.js
dist/out-tsc/src/app/services/courier.service.js.map
dist/out-tsc/src/app/services/courier.service.spec.js
dist/out-tsc/src/app/services/courier.service.spec.js.map
dist/out-tsc/src/app/services/map.service.js
dist/out-tsc/src/app/services/map.service.js.map
dist/out-tsc/src/app/services/map.service.spec.js
dist/out-tsc/src/app/services/map.service.spec.js.map
dist/out-tsc/src/app/services/nav.service.js
dist/out-tsc/src/app/services/nav.service.js.map
dist/out-tsc/src/app/services/nav.service.spec.js
dist/out-tsc/src/app/services/nav.service.spec.js.map
dist/out-tsc/src/app/services/settings.service.js
dist/out-tsc/src/app/services/settings.service.js.map
dist/out-tsc/src/app/services/settings.service.spec.js
dist/out-tsc/src/app/services/settings.service.spec.js.map
dist/out-tsc/src/app/services/state.service.js
dist/out-tsc/src/app/services/state.service.js.map
dist/out-tsc/src/app/services/state.service.spec.js
dist/out-tsc/src/app/services/state.service.spec.js.map
dist/out-tsc/src/app/services/sys.service.js
dist/out-tsc/src/app/services/sys.service.js.map
dist/out-tsc/src/app/services/sys.service.spec.js
dist/out-tsc/src/app/services/sys.service.spec.js.map
dist/out-tsc/src/environments/enviroment.wired.js
dist/out-tsc/src/environments/enviroment.wired.js.map
dist/out-tsc/src/environments/environment.js
dist/out-tsc/src/environments/environment.js.map
dist/out-tsc/src/environments/environment.prod.js
dist/out-tsc/src/environments/environment.prod.js.map
plugins/fetch.json
.firebase/hosting.d3d3.cache
