<div class="rw-shirm">
  <div class="rw-window">
    <div class="rw-title">
      Отзыв о работе приложения
      <i (click)="close()">
        <i-feather name="x-square"></i-feather>
      </i>
    </div>
    <div class="rw-body">
      <div class="rw-text">
        <div class="rw-text-title">Введите текст отзыва</div>
        <textarea [(ngModel)]="r_text" cols="30" rows="5"></textarea>
      </div>
      <div class="rw-btns">
        <div class="btn-ok" (click)="sendReview()">Отправить отзыв</div>
      </div>
    </div>
  </div>
</div>