<ion-content>
      <div class="o-title">Инфо</div>
      <div class="o-body" *ngIf="pageInit">
        <cdk-virtual-scroll-viewport  style="height: 80%" itemSize="auto" >
                <div class="b-row">
                    <div class="b-item b-title">Имя курьера</div>
                    <div class="b-item">{{info.name}}</div>
                </div>
                <div class="b-row">
                            <div class="b-item b-title">Бонусная сумма</div>
                            <div class="b-item">{{info.bonusBalance}}р</div>
                </div>                    
                <div class="b-row">
            
                        <div class="b-item b-title">Общая сумма</div>
                        <div class="b-item">{{info.sumAll}}р</div>
            
                </div>
                    <div class="b-row">
            
                        <div class="b-item b-title">Оплачено по карте</div>
                        <div class="b-item">{{info.sumCard}}р</div>
            
                    </div>
                    <div class="b-row">
                
                        <div class="b-item b-title">Оплачено наличными</div>
                        <div class="b-item">{{info.sumNal}}р</div>
                
                    </div>
                    <div class="b-row">
                
                        <div class="b-item b-title">Всего заказов</div>
                        <div class="b-item">{{info.ordersAll}}</div>
               
                    </div>
                    <div class="b-row">
                   
                        <div class="b-item b-title">Заказов выполнено</div>
                        <div class="b-item">{{info.ordersDone}}</div>
                  
                    </div>
                    <div class="b-row">
                    
                        <div class="b-item b-title">Заказов в работе</div>
                        <div class="b-item">{{info.ordersInWork}}</div>
                  
                    </div>
                    <div class="b-row">
                   
                        <div class="b-item b-title">Заказов отменено</div>
                        <div class="b-item">{{info.ordersFail}}</div>
                    
                    </div>
        </cdk-virtual-scroll-viewport>
        <div class="lg-b-wrp"><button class="logout-btn" (click)="logout()">Выйти</button></div>
      </div>
</ion-content>
