<ion-content>
  <span class="cn" *ngIf="state.notificationStr && state.notificationStr.length != 0">{{state.notificationStr}}</span>
<div class="o-title" >
      <span class="ct">Настройки</span>
      <i class="fas fa-chevron-left" (click)="navToBalance()"></i>
</div>
<div class="o-body" >
  <div class="settings">
      <div class="mode-block">
          <ion-list>
            <ion-radio-group (ionChange)="modeChange($event)" value="{{activeMode}}">
              <ion-list-header>
                <ion-label>Режим работы приложения</ion-label>
              </ion-list-header>
              <ion-item
                *ngFor="let mode of modes">
                <ion-label>{{mode.val}}</ion-label>
                <ion-radio slot="start" value="{{mode.value}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div class="mode-block">
          <ion-list>
            <ion-radio-group (ionChange)="scanChange($event)" value="{{scanMode}}">
              <ion-list-header>
                <ion-label>Режим сканирования штрих-кода</ion-label>
              </ion-list-header>
              <ion-item
                *ngFor="let mode of scanModes">
                <ion-label>{{mode.val}}</ion-label>
                <ion-radio slot="start" value = "{{mode.value}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div class="ss-block">
            <div class="ss-title">ID сессии</div>
            <input type="text" class="ss-inp">
        </div>
        <ion-item>
          <ion-label>Guess</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="guessMode"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Сразу строить маршрут</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="defaultRouteBuilding"></ion-checkbox>
        </ion-item>
        Тип построения маршрута
        <ion-item>
          <ion-label>Обычный</ion-label>
          <ion-toggle [(ngModel)]="auto"></ion-toggle>
          <ion-label>Магистраль</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Перевозчик</ion-label>
          <ion-input [(ngModel)]="cl" type="text" mode="md"></ion-input>
        </ion-item>
        <ion-item-divider>
          <ion-label></ion-label>
        </ion-item-divider>
        <ion-item [routerLink]="['/about']">
          <ion-icon name="information-circle-outline" slot="start">
          </ion-icon>
          <ion-label>О приложении</ion-label>
          <ion-nav animated="true"  swipeGesture="true"></ion-nav>
        </ion-item>


      </div>
      <div class="sv">
        <div class="sv-btn" *ngIf="!pswdView" (click)="saveSetings()">Сохранить</div>
      </div>
  </div>
<div class="pswd-wrp" *ngIf="pswdView">
  <div class="ps">
    <div class="ps-title">Введите пароль для настройки приложения</div>
    <input type="password" (keyup)="pswdChange()" [(ngModel)]='pswdInp' class="pswd-inp">
  </div>
</div>
</ion-content>
