.o-title {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-family: Roboto;
    box-shadow: 0 0 6px 1px #c7c7c7;
    margin: 0 0 5px 0;
    background: #2b637e;
    color: #ffffff;
    position: relative;
}

.cn {
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    background: rgba(192, 26, 26, 0.472);
    min-height: 30px;
    color: #d21212;
    font-size: 15px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-body {
    color: #3c3c3c;
    overflow: hidden;
    right: 0;
    height: 81%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b-row {
    margin: 2% 4px 7px 4px;
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 3px;
    padding: 10px 0;
    overflow: hidden;
    padding: 10px 10px 10px 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px auto;
    background-color: rgba(229, 238, 235, 1);
}

.b-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-title {
    justify-content: flex-start;
    color: rgba(72, 113, 135, 1);
    text-transform: uppercase;

}

.lg-b-wrp {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logout-btn {
    height: 50px;
    width: 80%;
    background: #2b637e;
    color: #fff;
    border-radius: 3px;
    font-size: 19px;
    margin: 7px 0 0 0;
}

.shirm {
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: RGBA(0, 0, 0, 0.1);
    z-index: 999999;
}

.shirm i {
    position: relative;
    margin: auto;
    font-size: 43px;
    color: #2b637e;
}

.confirm-shirm {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.confirm {
    background: #fff;
    height: 243px;
    display: grid;
    grid-template-rows: 68px auto 60px;
    border-radius: 3px;
    position: relative;
}


.cf-title,
.cf-qwe,
.cf-comment,
.cf-btns {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cf-btn {
    box-shadow: 0px 0px 0.5px 0.5px #bbb;
    height: 36px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 0 10px;
}

.cf-comment {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

.sc-comment {
    width: 90%;
    margin: 0px 0;
}

.cf-qwe {
    font-size: 21px;
    align-items: flex-end;
}

.cf-btns {
    width: 80%;
    margin: 0 auto;

}

.not {
    background: #f95a5a;
    color: #fff;
}

.cf-num {
    color: #2b637e;
    font-weight: bold;
    margin: 0 3px;
}

.close-btn {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 20px;
}

.comment-er {
    color: #d22e2e;
    font-size: 12px;
}

.cl-r__title {
    color: #2b637e;
    margin: 0 7px 0 0;
    font-size: 18px;
}

.cl-row {
    display: flex;
}

.check-labl {
    align-items: center;
    box-shadow: 0 0 0.5px 0.5px #b7b7b7;
    padding: 8px 8px;
    display: flex;
    justify-content: flex-start;
    width: 81%;
    height: 100%;
}

.cl-body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cl-row .comment {
    height: 100%;
    margin: 4px 0 0 0px;
}

.photo-btn {
    display: flex;
    height: 62px;
    width: 80%;
    background: #319bce;
    color: #fff;
    border-radius: 3px;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

.review_btn {
    margin-top: 5px;
}

.of-comment {
    width: 100%;
}

.of-number {
    width: 40px;
    text-align: center;
    height: 40px;
    margin: 3px 0;
}

.of-confirm {
    width: 90%;
    height: unset;
    display: flex;
    flex-direction: column;
}

.of-btns,
.of-btn {
    width: 100%;
}

.of-btns {
    margin: 15px auto;
}

.of-qwe {
    font-size: 21px;
    display: inline;
    margin: 24px 0;
    text-align: center;
}

.of-title {
    margin: 22px 0 6px 0;
    font-size: 17px;
}

.fa-chevron-left {
    position: absolute;
    left: 6%;
    top: 34%;
}

.pswd-wrp {
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: RGBA(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.ps {
    height: 20%;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    border-radius: 3px;
}

.sv-btn {
    box-shadow: 0 0 1px 1px #2b637e;
    height: 38px;
    width: 60%;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    background: #2b637e;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    z-index: 999999999;
}

.sv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ss-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px 0;
    border-bottom: 0.5px solid #d2d2d2
}

.mode-block {
    border-bottom: 0.5px solid #d2d2d2
}

.settings {
    overflow-y: scroll;
}