<h1>Товары в заказе</h1>
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Кол-во</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tr *ngFor="let good of goods">
    <td>{{good.Name}}</td>
    <td>
      <span>
        <ion-button (click)="minusGood(good.Code)">
          <ion-icon name="remove-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-text>{{good.kol_vo}}</ion-text>
        <ion-button (click)="plusGood(good.Code)">
          <ion-icon name="add-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </span>
    </td>
    <td>{{good.Price}} р.</td>
  </tr>
</table>