th,
td {
  padding: 0.5rem 0.5rem;
  white-space: break-spaces;
  width: 30vw;
  max-width: calc(100vw / 3) !important;
  border: 1px solid #d6cfcf;
}
thead {
  background: #e5f0f4;
  color: #2b637e;
}
tfoot {
  box-shadow: inset 0 2px;
}

table > tr:nth-child(odd),
tbody tr:nth-child(odd) {
  box-shadow: 0 -1px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
}
table,
thead,
tbody,
tfoot,
tr,
td,
th {
  border-collapse: collapse;
}
table > tr:hover,
tbody tr:hover {
  background: #bdf;
}
tr {
  &:nth-child(odd) {
    background: #f6fdff;
  }

  td {
    color: #333333;

    &:nth-child(2) {
      span {
        display: flex;
        justify-content: space-around;
        border: 0;
        ion-button {
          margin: 0;
          width: 22px;
          height: 22px;
          vertical-align: bottom;
          --background: #4ba7c5;
        }
        ion-text {
          vertical-align: bottom;
          font-size: 18px;
          margin: 0 5px;
        }
      }
    }
  }
}

h1 {
  text-align: left;
}
