ion-chip {
  white-space: nowrap;
}

.headbar-right-buttons {
  position: fixed;
  right: 0;
  z-index: 999999;
  top: 0;
  display: flex;
}
ion-toolbar {
  --min-height: 30px;
}

.toolbar {
  font-size: 16px;
}
ion-header * {
  font-size: 16px;
  ion-button {
    height: 30px;
    ion-icon {
      font-size: 24px;
    }
  }
}
.fether {
  height: 16px;
}
ion-segment {
  ion-segment-button {
    ion-label {
      text-transform: none;
    }
    --background: #e5f0f4;
    --border-style: solid;
    --border-width: 0.5px;
    --color: #585454;
    --color-checked: #2b637e;
    --indicator-height: 0;
  }
  ion-segment-button.segment-button-checked {
    border-bottom: white;
  }
}
ion-searchbar {
  --box-shadow: 0 0 01px black;
  padding-left: 2px;
  padding-right: 2px;
}
ion-item {
  --border-color: #d6cfcf;
  --border-width: 1px;
  --border-radius: 2px;
  --padding-start: 0;
  margin: 0 2px 5px 2px;
  --inner-border-width: 0;

  .title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;

    .client-id {
      color: #2b637e;
    }
  }

  .addr {
    color: #585454;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 5px 0;
  }

  .name {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
  }

  .actions {
    bottom: 0;
    ion-button {
      --background: #2b637e;
      --border-radius: 2px;
      font-size: 12px;
      text-transform: none;
      --padding-bottom: 7px;
      --padding-top: 7px;
      --padding-start: 7px;
      --padding-end: 7px;
      font-family: Roboto;
      --box-shadow: none;
      margin-right: 13px;
      margin-left: 0;
      ion-icon {
        margin-left: 0;
      }
    }
  }

  .points {
    margin-right: 10px;
  }
}
ion-item:nth-child(odd) {
  --background: #f6fdff;
}
ion-reorder {
  margin: 0;
}
ion-item.overdue {
  --border-color: red;
  --inner-border-width: 0;
  .title {
    .client-id {
      color: red;
    }
  }
}
.c-wrp,
.c-body {
  height: 100%;
}

.call-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  .cw-body {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    position: relative;

    button {
      background: none;
      height: 44px;
      width: 80%;
      box-shadow: 0px 0px 0.5px 0.5px #7cd5ff;
      border-radius: 3px;
      margin: 5px 0;
      text-transform: uppercase;
    }
  }
}
.c-wrp {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  .c-body {
    overflow: scroll;
  }

  .sub-footer {
    box-shadow: 0px -2px 3px rgba(117, 117, 117, 0.1);
    .orders-lable {
      font-weight: bolder;
      display: flex;
      & > div {
        white-space: nowrap;
        flex: 1 1 30%;
      }
      span {
        color: #585454;
      }
    }
    .checking {
      ion-button {
        --background: var(--corporate);
        border-radius: 2px;
      }
    }
  }
}

ion-content {
  &.ios,
  &.md {
    min-height: 85vh;
    ion-segment {
      height: 60px;
    }
  }
}
