<ion-content>
        <span class="cn" *ngIf="state$.notificationStr && state$.notificationStr != ''">{{state$.notificationStr}}</span>
<div class="c-wrp" >
    <div class="c-title">
        <span class="ct">Мои заказы</span>
    </div>
    <div class="o-tab-wrp" *ngIf="ordersInit">
            <div class="o-tab" [ngClass] = "{'tab_active' : selectedTab == 1}" (click)="tabSelect(1)">В работе</div>
            <div class="o-tab" [ngClass] = "{'tab_active' : selectedTab == 2}"(click)="tabSelect(2)">Доставлено</div>
            <div class="o-tab" [ngClass] = "{'tab_active' : selectedTab == 3}"(click)="tabSelect(3)">Не доставлено</div>
    </div>
    <div class="c-body" *ngIf="ordersInit">
      <div class="order-list">
        <cdk-virtual-scroll-viewport  style="height: 100%" itemSize="auto" >
            <ng-container *cdkVirtualFor="let order of orders; trackBy:customTrackBy" >
                <div class="ol-item" (click) = "selectOrder(order.id)" *ngIf="  (order.status_id == 1 && selectedTab == 1) ||
                                                                                (order.status_id == 5 && selectedTab == 2) ||
                                                                                (order.status_id == 6 && selectedTab == 2) ||
                                                                                (order.status_id == 4 && selectedTab == 3) ">
                    <div class="ol-col oc-left">
                        <div class="oc-left-row c_number">{{order.client_id}}</div>
                        <div class="oc-left-row c_address">{{order.client_address}}</div>
                    </div>
                    <div class="ol-col oc-right">
                        <div *ngIf="order.status_id == 1" class="c-status" [ngClass]="{  status_done : order.client_status_id == 1,
                                                            status_wait : order.client_status_id == 2,
                                                            status_fail : order.client_status_id == 3,
                                                            status_none : order.client_status_id == 8 }">{{order.client_status}}</div>
                        <div class="done-time" *ngIf="order.status_id != 1">
                            <div class="done-title">Время</div> 
                            <div class="done-body">{{order.date}}</div> 
                        </div>
                    </div>
                </div>
            </ng-container>
        </cdk-virtual-scroll-viewport>
        </div>
        <div class="orders-lable">
            <div class="all-amount olab-amount">Всего заказов: <span class="amount-labl">{{orders.length}}</span></div>
            <div class="olab-amount" *ngIf="selectedTab == 1 && g_process != 0">Заказов на вкладке: <span class="amount-labl">{{g_process}}</span></div>
            <div class="olab-amount" *ngIf="selectedTab == 2 && g_done != 0">Заказов на вкладке: <div class="amount-labl">{{g_done}}</div></div>
            <div class="olab-amount" *ngIf="selectedTab == 3 && g_fail != 0">Заказов на вкладке: <div class="amount-labl">{{g_fail}}</div></div>
            <div class="olab-empty" *ngIf=" (selectedTab == 1 && g_process == 0) ||
                                            (selectedTab == 2 && g_done == 0) ||
                                            (selectedTab == 3 && g_fail == 0)"><span class="center-title">Нет заказов</span></div>
        </div>  
    </div>
    <div class="start-route" *ngIf="ordersInit">
        <button class="satrt-r-btn" *ngIf = "!btn_go" (click) ="startRoute()">Начать маршрут</button>  
        <button class="satrt-r-btn sr-stop" *ngIf = "btn_go"  (click) ="stopRoute()">Остановить маршрут</button>  
        <button class="satrt-r-btn find-o-btn" (click)="findOrder()" >Найти заказ</button>
    </div>
    <div class="ind-lable" *ngIf="ordersInit"><div class="lvl" [ngStyle]="lvl_ind"></div></div>
    <div class="c-bottom"></div>
</div>

<div class="shirm" *ngIf="loader">
    <i class="fas fa-spinner fa-spin"></i>
</div>
</ion-content>
