.c-title{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-family: Roboto;
    box-shadow: 0 0 6px 1px #c7c7c7;
    background: #2b637e;
    color: #ffffff;
}
.c-wrp{
    height: 100%;
    display: grid;
    grid-template-rows: 60px 50px auto 70px 40px;
}

.c-body{
    color: #3c3c3c;
    height: 100%;
    grid-template-rows: 90% 10%;

}

.order-list{
    // box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 3px;
    height: 90%;
    overflow: hidden;
    margin-top: 10px;
}

.ol-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ol-item{
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 15px;
    height: 100%;
    width: 100%;
    padding: 0 3px 0 3px;
    box-shadow: 0px 0.7px 0.5px 0.1px #c7c7c7;
    padding: 10px 0 5px 0;
    max-height: 150px;
    overflow: hidden;
}

.oc-price{
    justify-content: flex-end;
}

 .oc-price{
    justify-content: center;
}

.item-native ,ion-item{
    padding: 0!important;
}

 .oc-adress, .ol-head .oc-status{
    border-right: 1px solid #c7c7c7;
}

.ol-item .oc-adress{
    justify-content: flex-start;
}

.ol-head{
    font-size: 18px;
    font-weight: bold;
    height: 24px;
    padding: 0px 0 30px 0;
    border-bottom: 1px solid #c7c7c7;
    width: 100%;
}

.o-tab-wrp{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: auto auto auto;
    box-shadow: 0 2px 4px 0px #c7c7c7;
    color: #4c4c4c;
}

.o-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #c7c7c7;
}

.o-tab:first-child{
    border-left: none;
}

.tab_active{
    background: #e5eeeb;
    color: #2b637e;
}

// .ol-item .oc-price{
//     justify-content: flex-end;
// }
.c-status{
    margin-left: 4px;
}

.oc-left{
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
}

.c_number{
    text-align: center;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.c_address{
    margin: 5px 0 10px 0;
    height: 100%;
}

.oc-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_done{
    color: #33b150;
}

.status_wait{
    color:#d8d510;
}

.status_fail{
    color: #d21212;
}

.status_none{
    color:#71777d;
}

.ind-lable{
    width: 100%;
}

.lvl{
    background: #33b150;
    height: 100%;
}

.olab-empty{
    position: fixed;
    top: 110px;
    bottom: 40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.2);
}

.amount-labl{
    margin: 0 8px;
    font-size: 18px;
    color: #2b637e;
    font-weight: bold;
}

.olab-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.start-route{
    display: flex;
    justify-content: center;
    align-items: center;
}

.satrt-r-btn{
    box-shadow: 0 0 1px 1px #2b637e;
    height: 38px;
    width: 60%;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    background: #2b637e;
    color: #fff;
    position: relative;
    z-index: 9999999;
}

.sr-stop{
    background: #d21212;
}

.orders-lable{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 2px 0.1px #c7c7c7;
    padding: 5px 0;
}

.done-time{
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
}

.done-title{
    text-align: center;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.done-body{
    text-align: center;
}

.shirm{
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: RGBA(0,0,0,0.1);
    z-index: 99999999;
}

.shirm i{
    position: relative;
    margin: auto;
    font-size: 43px;
    color: #2b637e;
}

.find-o-btn{
    margin: 0 0 0 3px;
}

.cn{
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    background: rgba(192, 26, 26, 0.472);
    min-height: 30px;
    color: #d21212;
    font-size: 15px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopTake{
    background: rgba(217, 255, 0, 0.335);
}

.cl-status-voice{
    color: rgb(85, 32, 134);
}

.manual_btn{
    background: #d21212;
    color: #fff;
    box-shadow: none;
}

.manual_lable{
    position: fixed;
    left: 0px;
    bottom: 139px;
    text-align: center;
    background: #2b637ee0;
    min-height: 30px;
    color: #2fff00;
    font-size: 15px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.submit-order_wrp{
    position: fixed;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99;
}

.submit-order{
    background: #44b347;
    height: 50px;
    width: 73%;
    opacity: 1;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.find-order-btn{
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.submit-order-btn{
    position: fixed;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}