
<ion-content>
  <div class="o-title" >
      <span class="ct">О приложении</span>
      <i class="fas fa-chevron-left" (click)="navToBalance()"></i>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
</div>
<ion-list *ngIf="app" >
  <ion-item>
    <ion-label>Название</ion-label>
    {{app.name}}
  </ion-item>
  <ion-item>
    <ion-label>Имя пакета</ion-label>
    {{app.packageName}}
  </ion-item>
  <ion-item>
    <ion-label>Версия кода</ion-label>
    {{app.versionCode}}
  </ion-item>
  <ion-item>
    <ion-label>Версия приложения</ion-label>
    {{app.versionNumber}}
  </ion-item>
</ion-list>
</ion-content>
