<div class="order-list">
  <cdk-virtual-scroll-viewport cdkDropList (cdkDropListDropped)="drop($event)"  itemSize="50" style="height:100%; width: 100%" >  
    <div *ngFor="let order of orders_c  | oTTabPipe : selectedTab" 
                      class="ol-item"
                      [ngClass]="{  'non-confirmed' : order.confirm == 0,
                                    'overdue'       : order.overdue == 1}" 
                      (click) = "selectOrder(order.id)" cdkDrag>
          <div class="ol-col oc-left">
            <div class="oc-left-row c_number">
              {{order.client_id}} 
              <span class="order-company" *ngIf="order.company">
                ({{order.company}})
              </span>      
            </div>
            <div class="oc-left-row c_address">{{order.client_address}}</div>
          </div>
          <div class="ol-col oc-right">
              <div *ngIf="order.status_id == 1" class="c-status" [ngClass]="{  'status_done' : order.client_status_id == 1,
                                                  'status_wait' : order.client_status_id == 2,
                                                  'status_fail' : order.client_status_id == 3,
                                                  'status_none' : order.client_status_id == 8,
                                                  'cl-status-voice' : order.client_status_id == 4 }">{{order.client_status}}</div>
              <div class="done-time" *ngIf="order.status_id != 1">
                  <div class="done-title">Время</div> 
                  <div class="done-body">{{order.date}}</div> 
              </div>
          </div>
      </div>
  </cdk-virtual-scroll-viewport>
  </div>