<div class="order-list">
  <ion-searchbar placeholder="Фильтр" inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250"
    [(ngModel)]="searchString" animated></ion-searchbar>
  <cdk-virtual-scroll-viewport cdkDropList (cdkDropListDropped)="drop($event)" itemSize="50"
    style="height: 100%; width: 100%; min-height: 50vh;">
    <div *ngFor="let order of orders_c | async " class="ol-item" [ngClass]="{
        'non-confirmed': order.confirm == '0' && confirm_cond,
        overdue: order.overdue == '1' || order.required == true
      }" (click)="selectOrder(order.id)" cdkDrag [cdkDragStartDelay]="500">
      <div class="ol-col oc-left">
        <div class="oc-left-row c_number">
          {{ order.client_id }}
          <span class="order-company" *ngIf="order.company"> ({{ order.company }}) </span>
        </div>
        <div class="oc-left-row c_address">
          {{ order.client_address }}
        </div>
        <div class='fio'>{{ order.client_fio }}</div>
      </div>
      <div class="ol-col oc-right">
        <span *ngIf="order.datetime_from">c {{ order.datetime_from | date: 'H:mm':'ru' }} </span>
        <span *ngIf="order.datetime_to">до {{ order.datetime_to | date: 'H:mm':'ru' }}</span>
        <div class="done-time" *ngIf="order.status_id != 1">
          <div class="done-title">Время</div>
          <div class="done-body">{{ order.date }}</div>
        </div>
      </div>
    </div>

    <div *ngIf="!orders_c">
      <div>
        <div class="oc-left-row c_number">
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          <span class="order-company">
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </span>
        </div>
        <div class="oc-left-row c_address">
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </div>
      </div>
      <div class="ol-col oc-right">
        <div class="c-status status_none">
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>