<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cog-sharp" (click)="navToSettings()" class="cogs"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Маршрут</ion-title>
    <ion-title size="small" color="dark">
      Показаны первые 10 заказов
    </ion-title>
    <ion-title size="small">
      <button (click)="allOrders()" *ngIf="map_s.oneOrder" class="display-content" color="primary">
        Все заказы
      </button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span class="cn" *ngIf="state$.notificationStr && state$.notificationStr != ''">{{state$.notificationStr}}</span>

  <div class="c-wrp">
    <div class="c-body">
      <div id="map" style="height: 100%; width: 100%;"></div>
    </div>
    <button [disabled]="dislink" class="toNav" (click)="intentStart()">
      Открыть в навигаторе
    </button>
  </div>
</ion-content>
