ion-popover {
  --width: max-content;
}
.popover .popover-content {
  --width: 90vw;
  --min-width: max-content;
}
#map,
#guide {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}
.one-order-chip {
  --background: #2b637e;
  --color: white;
}
#map {
  text-align: center;
}
#container {
  height: 100%;
}
