.lg-wrp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-btn {
  min-height: 22%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lg-login {
  outline: none;
  height: 50px;
  width: 100%;
  background: no-repeat;
  box-shadow: 0 0 1px 1px #bdbdbd;
  border-radius: 3px;
  color: #4a4a4a;
  font-size: 19px;
  margin: 5px 0;
}
.login-phone {
  overflow: hidden;
  padding: 0;
}

.btn-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font-size: 19px;
}

.btn-wrp {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  min-height: 300px;
}

.btn-title {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.error-phone {
  font-size: 15px;
  color: #c50000;
}

.phone-inp {
  margin: 6px 0 0 0;
  height: 45px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 1px 1px #bdbdbd;
  border-radius: 3px;
  text-align: center;
}

.btn-open .btn-title {
  border-bottom: 1px solid #bdbdbd;
}

.enter-phone {
  margin: 8px 0 0 0;
  height: 45px;
  border-radius: 3px;
  border: none;
  background: none;
  box-shadow: 0 0 1px 1px #bdbdbd;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  color: #2b637e;
  outline: none;
}

.bi-inp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 0 0 0;
}

.sh-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  font-size: 35px;
  color: #2b637e;
}

.btn-resend {
  color: #8d999e;
}
