// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.my-custom-menu {
  --width: 500px;
}

#bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-auto-rows: 40px;
  background: #2b637e;
  color: #fff;
  font-size: 25px;
}

.bm-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: rgba(229, 238, 235, 1);
  color: #2b637e;
}

.check_to_work {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

.filial {
  font-size: 0.6em;
}

.shirm {
  position: fixed;
  top: 40vh;
  left: 40vw;
  right: 40vw;
  bottom: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: RGBA(0, 0, 0, 0.0);
  z-index: 99999999;
}

.shirm i {
  position: relative;
  margin: auto;
  font-size: 43px;
  color: #2b637e;
}

app-orders-list-guess {
  width: 100vw;
}

@font-face {
  font-family: "Roboto";
  src: url('../Roboto.ttf');
}

ion-toolbar {
  --background: #2b637e;
  color: white;
  text-align: center;
}