// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
.active {
  background-color: rgba(229, 238, 235, 1);
  color: #2b637e;
}

.check_to_work {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

.filial {
  font-size: 0.6em;
}

.shirm {
  position: fixed;
  top: 40vh;
  left: 40vw;
  right: 40vw;
  bottom: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: RGBA(0, 0, 0, 0);
  z-index: 99999999;
}

.shirm i {
  position: relative;
  margin: auto;
  font-size: 43px;
  color: #2b637e;
}

app-orders-list-guess {
  width: 100vw;
}

@font-face {
  font-family: "Roboto";
  src: url("../Roboto.ttf");
}

:root {
  ion-footer {
    ion-buttons {
      display: flex;
      justify-content: space-around;

      ion-button {
        flex-grow: 1;
      }
    }
  }


  .light-blue-button {
    --background: #4ba7c5;
    font-weight: bold;
    text-transform: none;
    --box-shadow: none;
  }
  ion-item.datepicker {
    margin-top: 20px;
    width: 80%;
    --background: transparent;
    --padding-start: 0;
    --inner-padding-top: 3px;
    --inner-padding-bottom: 3px;
    ion-datetime {
      border: 1px solid #686868;
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 25px;
      background: white;
      width: -webkit-fill-available;
    }
  }

  ion-header * {
    font-size: 16px;

    ion-toolbar {
      --background: #2b637e;
      color: white;
      text-align: center;
      --min-height: 30px;

      ion-back-button {
        height: 30px;
      }

      ion-button {
        height: 30px;
        ion-icon {
          font-size: 24px;
        }
      }
    }
  }
  .actions-button {
    background: #4ba7c5;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px 0px 2px;
    position: absolute;
    right: 0;
    bottom: 0%;
    width: 25px;
    height: 35px;
    text-align: center;
    ion-icon {
      margin: 50% 0;
      width: 12px;
      height: 12px;
    }
  }
  .turned {
    transform: rotate(0.5turn);
  }

  ion-button.action {
    --background: #2b637e;
    --border-radius: 2px;
    font-size: 12px;
    text-transform: none;
    --padding-bottom: 7px;
    --padding-top: 7px;
    --padding-start: 7px;
    --padding-end: 7px;
    font-family: Roboto;
    --box-shadow: none;
    margin-right: 13px;
    margin-left: 0;
    ion-icon {
      margin-left: 0;
    }
  }

  #light-blue-button {
    --background: #c9e9fa;
    --color: #2b637e;
  }

  #light-purple-button {
    --background: #c9cbfa;
    --color: #533f69;
  }

  #light-green-button {
    --background: #d7f3dd;
    color: #3a543b;
  }
}
.done-order-modal {
  padding-top: 25px;
  --border-radius: 4px;

  .title {
    font-weight: bold;
  }
  .ion-padding {
    font-size: 14px;
    overflow: scroll;
    h1 {
      font-weight: bold;
      font-size: 14px;
      text-align: center;

      a {
        float: right;
        color: #2b637e;
        font-weight: normal;
      }
    }

    ion-list {
      ion-item {
        --padding-start: 0;
        --padding-end: 0;
        &.block {
          --border-style: 1px black;
          --border-color: #d6cfcf;
          --border-width: 1px;
          --border-radius: 4px;
          --padding-start: 0;
          margin: 10px 0;
          --inner-border-width: 0;
          --inner-padding-bottom: 8px;
          --inner-padding-start: 8px;
          --inner-padding-top: 8px;
          --inner-padding-end: 8px;
          font-size: 14px;
          line-height: 21px;
          color: #585454;
          white-space: pre-wrap;
          border: 1px solid #d6cfcf;
          box-sizing: border-box;
          border-radius: 4px;
        }
        &.input {
          --padding-start: 0;
          --padding-end: 0;
          --inner-padding-end: 0;
          margin: 10px 0;
          ion-label {
            transform: none;
          }
          ion-input {
            border: 1px solid #d6cfcf;
            box-sizing: border-box;
            border-radius: 2px;
            margin: 5px 0;
          }
          ion-textarea {
            border: 1px solid #d6cfcf;
            box-sizing: border-box;
            border-radius: 2px;
          }
        }

        --border-style: none;
        font-size: 14px;
        --min-height: 35px;
        align-items: baseline;
        .title {
          font-weight: bold;
        }
        .link {
          margin-top: 15px;
          text-decoration: underline;
          color: #2b637e;
          font-weight: normal;
        }

        ion-toggle {
          --background-checked: rgba(43, 99, 126, 0.38);
          --handle-background-checked: #2b637e;
        }
        ion-radio {
          margin-right: 5px;
        }
      }
    }
    p.descr {
      font-size: 12px;
      font-style: italic;
      color: #d12437;
    }
    ion-item.comment {
      --padding-start: 0;
      --inner-padding-end: 0;
      ion-label {
        font-weight: bold;
      }
      ion-textarea {
        border: 1px solid #d6cfcf;
        box-sizing: border-box;
        border-radius: 2px;
      }
    }
    ion-button {
      margin: 15px 13px 15px 0;
      font-size: 16px;
      --background: #2b637e;
      margin-bottom: 0;
      margin-top: 15px;
      text-transform: none;
      --border-radius: 2px;
      color: white;
      --padding-bottom: 7px;
      --padding-top: 7px;
      --padding-start: 10px;
      --padding-end: 10px;
      --inner-padding-bottom: 10px;
      --inner-padding-top: 10px;

      &.light {
        --background: #c9e9fa;
        color: #2b637e;
        --box-shadow: none;
      }
    }
  }
}
@import "../../node_modules/@esfaenza/ngx-introjs/introjs.css";
.introjs-helperLayer {
  opacity: 20%;
  /* background-color: rgba(255,255,255,.7); */
}

.introjs-overlay {
  background-color: rgb(0 0 0 / 0.5);
}
