// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.my-custom-menu {
    --width: 500px;
  }

#bottom-menu{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-auto-rows: 40px;
  background: #c7c7c7;
  color: #fff;
  font-size: 25px;
}

.bm-item{
  display: flex;
  justify-content: center;
  align-items:center;
}

.active{
  background-color: #6f6f6f;
}