<div class="ion-padding" >
  <h1>Доставлено <a (click)="dismiss('cancel')">Закрыть</a></h1>
  <ion-list>
    <ion-item class='block' [intro]="IntroItems" [Order]="1">
      <ion-label class='title' >
        Требуется подпись клиента
        <p class='link'>
          <a (click)="draw()" [intro]="IntroItems" [Order]="2">
            Редактировать подпись
          </a>
        </p>
      </ion-label>
      <ion-toggle slot="end" checked [(ngModel)]="drawNeedle" ></ion-toggle>
    </ion-item>
    <ion-item class='block' [intro]="IntroItems" [Order]="3">
      <ion-label class='title'>
        Оплата заказа
        <p>
          <ion-button [disabled]='isDisabled("наличные")' size='large' [ngClass]='{"light": selectedPayment !== "1"}'
            (click)='selectPayment("1")'>
            Наличными
          </ion-button>
          <ion-button [disabled]='isDisabled("карта")' size='large' [ngClass]='{"light": selectedPayment !== "2"}'
            (click)='selectPayment("2")'>
            Картой
          </ion-button>
        </p>
      </ion-label>
    </ion-item>
    <ion-item class='input' *ngIf='selectedPayment == "2"' [intro]="IntroItems" [Order]="4">
      <ion-label position="stacked" class='title'>3 цифры карты <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="number" [(ngModel)]="cardNums"></ion-input>
    </ion-item>

    <ion-item class='input'>
      <ion-label class='title' position="stacked">
        E-mail клиента
      </ion-label>
      <ion-input [(ngModel)]="email_input"></ion-input>
    </ion-item>
    <ion-item class='input'>
      <ion-label class='title' position="stacked">
        Телефон клиента
      </ion-label>
      <ion-input type='tel' [(ngModel)]='phone_input'></ion-input>
    </ion-item>
    <ion-item class='comment input' lines='none'>
      <ion-label position="stacked">Комментарий</ion-label>
      <ion-textarea [(ngModel)]="commentText"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Товары в заказе</h1>
        <table>
          <thead>
            <th>Название</th>
            <th>Кол-во</th>
            <th>Цена</th>
          </thead>
          <tr *ngFor="let good of goods">
            <td>{{good.Name}}</td>
            <td>{{good.kol_vo}}</td>
            <td>{{good.Price}} р.</td>
          </tr>
        </table>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button [disabled]="!cardNums && selectedPayment == '2'" expand="full" fill="solid" shape="round"
    id='light-green-button' class='action' (click)="dismiss()" [intro]="IntroItems" [Order]="5" >
    Доставлено
  </ion-button>
</div>
