<div class="ion-padding">
  <h1>Не доставлено
    <ion-button (click)="showHelp()" class='ion-float-end'>
      <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
    </ion-button>
    <a (click)="dismiss('cancel')">Закрыть</a>
  </h1>
  <p>Укажите причину невыполненной доставки заказа:</p>
  <ion-list [intro]="introItems" [Order]="1">
    <ion-radio-group name="reason" [(ngModel)]="selectedReason">
      <ion-item *ngFor="let reason of reasons">
        <ion-label>{{reason.reason}}</ion-label>
        <ion-radio value="{{reason.id}}" slot='start'></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <p class="descr">укажите причину невыполненной доставки заказа </p>
  <ion-text class="title" *ngIf="selectedReason == 8">
    Новая дата доставки
  </ion-text>
  <ion-item *ngIf="selectedReason == 8" class='datepicker' lines='none'>
    <ion-datetime placeholder="DD.MM.YYYY" displayFormat="DD.MM.YYYY" min="{{today.toISOString()}}"
      value="{{tomorrow.toISOString()}}" [(ngModel)]='new_plan_date'></ion-datetime>
  </ion-item>

  <ion-item class='comment' lines='none' [intro]="introItems" [Order]="2">
    <ion-label position="stacked">Комментарий</ion-label>
    <ion-textarea [(ngModel)]="commentText"></ion-textarea>
  </ion-item>
  <ion-button [disabled]='selectedReason == 8 && !new_plan_date' expand="full" fill="solid" shape="round"
    id='light-purple-button' class='action' (click)="dismiss()" [intro]="introItems" [Order]="3">
    Завершить заказ
  </ion-button>
</div>