<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Мои заказы</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="primary" detail>
    <ion-label>Label</ion-label>
    <div>sklgal;kfng;na</div>
  </ion-item>
</ion-content>
