<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf='order'>{{order.client_id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="order">
  <ion-list>
    <ion-item>
      <ion-label>
        <div class='flex'>
          <img src="../../../assets/a-b.svg">
          <div class='addresses'>
            Адрес отправителя:
            <p>{{order.company_address}}</p>
            Адрес получателя:
            <p>{{order.client_address}}</p>
          </div>
        </div>
        <div class='client-id'>
          Шифр: <span>{{order.client_id}} </span>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class='datetime'>
      <ion-label>
        <div>
          Дата доставки:
          <p>
            <span>
              {{order.datetime_to | date: 'd.MM.yyyy'}}
            </span>
          </p>
        </div>
        <div class='time'>
          Время доставки:
          <p>
            После <span>{{order.datetime_from | date: 'H:mm'}}</span> До
            <span>{{order.datetime_to | date: 'H:mm'}}</span>
          </p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class='flex main-info'>
          <div>
            Имя: <span class='bold'>{{order.client_fio}} </span><br />
            Компания: <span class='bold'>{{order.client_name}} </span><br />
            Отдел: <span class='bold'>{{order.Podrazd}} </span>
          </div>
          <div>
            Робот прозвон:
            <div class="st_state" [ngClass]="{
              'status_done' : order.client_status_id == 1,
              'status_wait' : order.client_status_id == 2,
              'status_fail' : order.client_status_id == 3,
              'status_none' : order.client_status_id == 8,
              'cl-status-voice' : order.client_status_id == 4 }">
              {{order.client_status}}
            </div>
          </div>
          <div>
            Сумма с клиента:
            <div class='primary-color bold'>
              {{order.rur?.toLocaleString('ru') || 0}} р.
            </div>
          </div>
          <div>
            Количество / Вес
            <div class='primary-color bold'>{{order.amount}} шт. / {{order.mass}} кг</div>
          </div>
        </div>
        <ion-button id='call' expand='full' fill='solid' (click)="phoneClick('init')">
          Позвонить клиенту
        </ion-button>
      </ion-label>
    </ion-item>
    <ion-item class='yellow'>
      <ion-label>
        Статус: <span class='bold'>{{getStatus()}} </span>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="order.poruch">
      <ion-label>
        Комментарий к заказу
        <div class='bold'>
          {{order.poruch}}
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label [@openClose]="openCompany ? 'open' : 'closed'">
        Компания отправитель:
        <div class='bold'>
          {{order.company}}
        </div>
        <ion-card id="company-card">
          <ion-item class="ion-activated" *ngIf="order.Cname">
            <ion-label>
              <h3>Ответственное лицо</h3>
              {{order.Cname}}
            </ion-label>
          </ion-item>
          <ion-item class="ion-activated" *ngIf="order.Cadress">
            <ion-label>
              <h3>Адрес</h3>
              {{order.Cadress}}
            </ion-label>
          </ion-item>
          <ion-item class="ion-activated" *ngIf="order.Cphone">
            <ion-label>
              <h3>Основной телефон</h3>
              {{order.Cphone}}
            </ion-label>
          </ion-item>
          <ion-item class="ion-activated" *ngIf="order.Cphone_s">
            <ion-label>
              <h3>Дополнительный телефон</h3>
              {{order.Cphone_s}}
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-label>
      <div class="actions-button" (click)="tapBlock()">
        <ion-icon src='../../../assets/actions-arrows.svg' [ngClass]="{turned: openCompany == true }"></ion-icon>
      </div>
    </ion-item>
    <ion-item id='note-item'>
      <ion-input placeholder='Введите заметку по заказу' [(ngModel)]="note"></ion-input>
      <ion-button (click)="saveNote()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div id='navigate-buttons'>
    <ion-button expand="block" fill="solid" shape="round" (click)="intentStart()" class='action'>
      Открыть в навигаторе
    </ion-button>
    <ion-button expand="block" fill="solid" shape="round" (click)="showRoute(order)" class='action'>
      Показать на карте
    </ion-button>
  </div>
  <div id='done-buttons' *ngIf="!(hide_status || status_id == 5 || status_id == 6 || status_id == 4)">
    <ion-button expand="full" fill="solid" shape="round" id='light-purple-button' class='action'
      (click)="selectStatus(4); presentNotDeliveredModal()">
      <ion-icon slot="start" name="close"></ion-icon>
      Не доставлено
    </ion-button>
    <ion-button expand="full" fill="solid" shape="round" id='light-blue-button' class='action'
      (click)="selectStatus(6)">
      <ion-icon slot="start" src='../../../assets/pie-chart.svg'></ion-icon>
      Частично доставлено
    </ion-button>
    <ion-button expand="full" fill="solid" shape="round" id='light-green-button' class='action'
      (click)="selectStatus(5); presentDeliveredModal()">
      <ion-icon slot="start" name="checkmark-done"></ion-icon>
      Доставлено
    </ion-button>
  </div>
  <!-- Легаси! -->
  <div class="sc-row o-row" *ngIf="selectedStatus == 6 ||order.status_id == 6">
    <div class="sc-goods-block">
      <div class="goods-row o-row">
        <div class="gr-title o-t">Товары в заказе</div>

        <div class="gr-goods-list">
          <div class="gr-head">
            <div class="gr-col">Название</div>
            <div class="gr-col">Кол-во</div>
            <div class="gr-col">Цена</div>
          </div>
          <div *ngFor="let good of goods">
            <div class="gr-item" [ngClass]="{
                            'st_fail': (g_quants[good.Code]['amount'] == 0),
                            'st_done': (order.status_id == 6 && g_quants[good.Code]['amount'] > 0 )
                          }">
              <div class="gr-col">{{good.Name}}</div>
              <div class="gr-col gr-quant">
                <div (click)="changeQuant(good.Code,'minus')">
                  <i-feather name="minus-circle"></i-feather>
                </div>
                {{g_quants[good.Code]['amount']}}
                <div (click)="changeQuant(good.Code,'plus')">
                  <i-feather name="plus-circle"></i-feather>
                </div>
              </div>
              <div class="gr-col gr-price">{{good.Price}}р.</div>
            </div>
          </div>
          <div><b>Итого: </b>{{order.rur}}р.</div>
        </div>
      </div>
    </div>
    <ion-button (click)="scanReturned()" expand="block" fill="solid" shape="round"
      *ngIf="selectedStatus == 6 ||order.status_id == 6">
      Сканировать возврат
    </ion-button>
  </div>
  <div>

    <!-- Блок подписи -->
    <div class="draw" *ngIf="selectedStatus == 6">
      <div class="asc-row">
        <div class="title">Требуется ли подпись клиента?</div>
        <div class="draw-btns">
          <button class="drawBtn" [ngClass]="{'draw_btn_active'   : drawNeedle}" (click)="drawBtn(true)">
            Да
          </button>
          <button class="drawBtn" [ngClass]="{'draw_btn_active'   : !drawNeedle}" (click)="drawBtn(false)">
            Нет
          </button>
        </div>
      </div>
      <img [src]="imageToShow" alt="Подпись" *ngIf="imageToShow && drawNeedle" style="height: 200px;" />
      <button *ngIf="drawNeedle" class="drawBtn changeDraw" (click)="drawBtn(true)">Изменить подпись</button>
    </div>
    <div class="sc-payment" *ngIf="selectedStatus == 6">
      <div class="sc-payment__title">Оплата</div>
      <div class="dc-payment__wrp">
        <div class="sc-payment-item" [ngClass]="{'payment_active' : selectedPayment == 1}" (click)="selectPayment('1')">
          Наличными
        </div>
        <div class="sc-payment-item" [ngClass]="{'payment_active' : selectedPayment == 2}" (click)="selectPayment('2')">
          Картой
        </div>
      </div>
    </div>

    <div class="sc-payment-block o-row" *ngIf="pay_access && (selectedStatus == 6)  ">
      <div class="pb-email" *ngIf="show_email">
        <div class="pb-email__title">Email клиента</div>
        <input type="email" class="pb-email__input" [(ngModel)]="email_input" />
      </div>
      <div class="pb-phone">
        <div class="pb-phone__title" *ngIf="showPhone">Телефон клиента</div>
        <input *ngIf="showPhone" type="tel" class="pb-phone__input" [(ngModel)]="phone_input" />
      </div>
      <button class="show-phone" (click)="enterPhone()">Прочее</button>
    </div>
    <div class="dt-picker" *ngIf="selectedReason == 8">
      <ion-item>
        <ion-label position="floating">MM/DD/YYYY</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="{{today.toISOString()}}" value="{{tomorrow.toISOString()}}"
          [(ngModel)]='new_plan_date'></ion-datetime>
      </ion-item>
    </div>

    <div class="sc-s-wrp">
      <button class="sc-submit" (click)="doneOrder()" *ngIf="selectedStatus"
        [ngClass]="{'c_t_del'   : selectedStatus == 6}">
        <span *ngIf="selectedStatus == 6" class="l_btn_del">Доставлено</span>
      </button>
    </div>
  </div>
  <!-- Конец Легаси -->
  <div id="call-window" *ngIf="callWindow">
    <div class="cw-body">
      <i-feather name="x-square" (click)="phoneClick('init')" size="large"></i-feather>
      <ion-list *ngIf="orderPhones.length > 1">
        <ion-radio-group name="selectedPhone" [(ngModel)]="selectedPhone">
          <ion-list-header>
            <ion-label>Выберите номер</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let phone of orderPhones">
            <ion-radio value="{{phone}}"></ion-radio>
            <ion-label>{{phone}}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <button (click)="phoneClick('phone')"
        *ngIf="settings.rules.phoneMode == 'robotPhone' || settings.rules.phoneMode == 'phone' ">
        Позвонить со своего телефона
      </button>
      <button (click)="phoneClick('operator')"
        *ngIf="settings.rules.phoneMode == 'robotPhone' || settings.rules.phoneMode == 'robot' ">
        Позвонить через ip-шлюз
      </button>
    </div>
  </div>
</ion-content>