ion-content {
  bottom: 40px;
  top: 0;
  --padding-bottom: 50px;

  #done-buttons {
    padding: 15px;
    box-shadow: 0px -2px 3px rgba(117, 117, 117, 0.1);

    ion-button {
      font-size: 16px !important;
      line-height: 19px !important;
      margin-right: 0;
    }
  }

  ion-item {
    --border-color: #d6cfcf;
    --border-width: 1px;
    --border-radius: 2px;
    --padding-start: 0;
    margin: 5px 15px 0px 15px;
    --inner-border-width: 0;
    --inner-padding-bottom: 8px;
    --inner-padding-start: 8px;
    --inner-padding-top: 8px;
    --inner-padding-end: 8px;
    font-size: 14px;
    line-height: 21px;
    color: #585454;
    white-space: pre-wrap;

    ion-label {
      margin: 0;
      white-space: pre-wrap;
    }
    div {
      white-space: pre-wrap;
    }
    .flex {
      display: flex;

      .addresses {
        padding-left: 13px;
        font-size: 14px;
        line-height: 16px;
        color: #585454;

        p {
          margin-top: 5px;
          font-weight: bold;
          color: #333333;
          white-space: pre-wrap;
        }
      }
    }

    .client-id {
      margin-top: 20px;
      font-size: 14px;
      line-height: 16px;
      color: #585454;

      span {
        color: #333333;
        font-weight: bold;
      }
    }
  }
  ion-item.datetime {
    --background: #fffed7;
    font-size: 14px;
    color: #585454;

    ion-label {
      display: flex;
      justify-content: space-between;
      margin: 0;

      .time {
        text-align: right;
      }
      p {
        span {
          font-weight: bold;
          color: #333333;
        }
      }
    }
  }
  .bold {
    font-weight: bold;
    color: #333333;
  }
  .status_done {
    color: #2b637e;
  }

  .status_wait {
    color: #d8d510;
  }

  .status_fail {
    color: #d21212;
  }
  .status_none {
    color: red;
  }
  .cl-status-voice {
    color: rgb(85, 32, 134);
  }
  .main-info {
    flex-flow: wrap;
    justify-content: space-between;
  }

  .brand-color {
    color: #2b637e !important;
  }
  .main-info > div:nth-child(1) {
    margin-bottom: 23px;
  }
  .main-info > div:nth-child(even) {
    text-align: right;
  }
  #call {
    --background: #2b637e;
    margin-bottom: 0;
    margin-top: 15px;
    text-transform: none;
    font-weight: bold;
    height: 42px;
  }
  .yellow {
    --background: #fffed7;
  }
  #company-card {
    grid-column-start: 1;
    grid-column-end: 3;

    h3 {
      font-weight: bold;
    }
  }

  #call-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);

    .cw-body {
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
      border-radius: 5px;
      position: relative;

      button {
        background: none;
        height: 44px;
        width: 80%;
        box-shadow: 0px 0px 0.5px 0.5px #7cd5ff;
        border-radius: 3px;
        margin: 5px 0;
        text-transform: uppercase;
      }
    }
  }
}

#note-item {
  --inner-padding-bottom: 0 !important;
  --inner-padding-top: 0 !important;
  --inner-padding-end: 0 !important;

  ion-button {
    --background: #2b637e;
    width: 48px;
    height: 100%;
    margin: 0;
  }
}

#navigate-buttons {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  ion-button {
    --background: #f6fdff;
    --border-color: #bbd9e8;
    --border-radius: 2px;
    --color: #2b637e;
    margin: 0;
    text-transform: none;
    font-weight: bold;
    --border-width: 1px;
    --border-style: solid;
    font-size: 14px;
  }
}

///Легаси!
.sc-row {
  display: block;
  box-shadow: 0 0 1px 1px #ff0000;
  background: #e8f5ff;
}
.o-row {
  margin: 2% 10px 0 10px;
  box-shadow: 0 0 1px 1px #c7c7c7;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25px auto;
}
.sc-goods-block {
  .goods-row {
    padding: 5px;
    margin: 0px;

    .gr-item {
      grid-template-columns: 40% 30% 30%;
    }
  }
}
.sc-goods-block {
  .goods-row {
    padding: 5px;
    margin: 0px;

    .gr-item {
      grid-template-columns: 40% 30% 30%;
    }
  }
}
.goods-row {
  background: #fff;
}
.o-t {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.gr-goods-list {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-rows: repeat(auto-fill, 20px);
}
.gr-head {
  display: grid;
  grid-template-columns: 50% 25% 25%;

  .gr-col {
    text-align: center;
    font-weight: 500;

    ion-icon {
      font-size: 1.5em;
    }
  }
}
.gr-item {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}
.st_fail {
  background: #d21212;
  color: #fff;
}
.st_done {
  background: #33b150;
  color: #fff;
}
.gr-quant {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gr-price {
  text-align: center;
}
.sc-r-title {
  font-weight: bold;
  margin-bottom: 7px;
  text-align: center;
}
.sc-reason {
  width: 96%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 1px #c7c7c7;
  margin: 4px;
  border-radius: 2px;
  background: #fff;
}
.status_active {
  background: #2b637e;
  color: #fff;
}
.draw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 10px 0px 10px;
  box-shadow: 0 0 1px 1px #c7c7c7;
  border-radius: 3px;
  padding: 10px 0;
  overflow: hidden;
  padding: 10px 10px 20px 10px;
  background: #fff;
}

.changeDraw {
  box-shadow: 0 0 1px 1px #2b637e;
  height: 38px;
  width: 75%;
  margin: 9px auto;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  background: #fff;
}
.asc-row {
  .title {
    font-weight: bold;
    text-align: center;
  }
}

.draw-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto;
  width: 72%;
  box-shadow: 0 0 1px 1px #c7c7c7;
  border-radius: 3px;
  height: 33px;
}

.drawBtn {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto;
  width: 72%;
  box-shadow: 0 0 1px 1px #c7c7c7;
  border-radius: 3px;
  height: 33px;
  background: #fff;
}

.draw_btn_active {
  background: #2b637e;
  color: #fff;
}
.sc-payment {
  margin: 5% 10px 0 10px;
  box-shadow: 0 0 1px 1px #c7c7c7;
  border-radius: 3px;
  overflow: hidden;
  padding: 0px 10px 10px 10px;
  display: grid;
  background: #fff;
}

.sc-payment__title {
  font-weight: bold;
  text-align: center;
}

.dc-payment__wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto;
  width: 72%;
  box-shadow: 0 0 1px 1px #c7c7c7;
  border-radius: 3px;
  height: 33px;
}

.sc-payment-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.payment_active {
  background: #2b637e;
  color: #fff;
}
.sc-payment-block {
  margin: 5% 10px 0px 10px;
  box-shadow: 0 0 1px 1px #c7c7c7;
  border-radius: 3px;
  padding: 10px 0;
  overflow: hidden;
  padding: 10px 10px 20px 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background: #fff;
  gap: 10px;

  input {
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 2px;
    height: 33px;
    outline: none;
    border: none;
    background: no-repeat;
  }
}
.pb-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pb-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pb-email__title {
  font-weight: bold;
  text-align: center;
}

.pb-phone__title {
  font-weight: bold;
  text-align: center;
}
.show-phone {
  box-shadow: 0 0 1px 1px #2b637e;
  height: 38px;
  width: 60%;
  margin: 9px auto;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  background: #fff;
}
.sc-comment-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-submit {
  box-shadow: 0 0 1px 1px #2b637e;
  height: 38px;
  width: 60%;
  margin: 25px 0px 2px 0;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  background: #fff;
}
.sc-s-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.c_t_del {
  background: #80f759;
  color: #2379a2;
  height: 50px;
  font-size: 22px;
  width: 94%;
  text-transform: uppercase;
  box-shadow: 0 0 1px 1px #80f759;
}

.c_t_u_del {
  background: #f55656;
  color: #fff;
  height: 50px;
  font-size: 22px;
  width: 94%;
  text-transform: uppercase;
  box-shadow: 0 0 1px 1px #f55656;
}
