
.change_status{
    align-items: center;
    background: none;
    font-size: 21px;
    padding: 0 0 0 5px;
    box-shadow: 0 0 1px 1px #adadad;
    display: flex;
    justify-content: center;
    height: 35px;
    width: 37px;
    position: absolute;
    color: #2b637e;
    border-radius: 4px;
    right: 15%;
    top: 17%;
    outline: none;
}

.o-title{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Roboto;
    box-shadow: 0 0 6px 1px #c7c7c7;
    margin: 0 0 5px 0;
    background: #2b637e;
    color: #ffffff;
    position: relative;
}


.o-body{
    color: #3c3c3c;
    height: 100%;
    margin-bottom: 30px;
}

.menu-icon{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 34px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px 2px 1px #c7c7c7;
}

.o-row{
    margin: 2% 10px 0 10px;
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 3px;
    padding: 10px 0;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25px auto;
}

.o-t{
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.sr-status, .ar-adress{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.gr-goods-list{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: repeat(auto-fill, 20px);
}

.goods-row{
    background: #fff;
}

.gr-head{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.gr-item{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.gr-head .gr-col{
    text-align: center;
    font-weight: 500;
}

.gr-quant, .gr-price{
    text-align: center;
}

.status-row{
    position: relative;
}

.sc-row{
    display: block;
}

.sc-status{
    width: 71%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 1px #c7c7c7;
    margin: 4px 0;
    border-radius: 2px;
    background: #fff;
}

.sc-statuses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
}



.sc-r-title{
    font-weight: bold;
    margin-bottom: 7px;
    text-align: center;
}

.sc-reason{
    width: 96%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 1px #c7c7c7;
    margin: 4px 0;
    border-radius: 2px;
    background: #fff;
}

.sc-reasons-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-comment-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gr-quant{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sc-submit{
    background: none;
    box-shadow: 0 0 1px 1px #2b637e;
    height: 38px;
    width: 60%;
    margin: 25px 0px 2px 0;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    background: #fff;
}

.sc-s-wrp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.sc-payment{
    margin: 5% 10px 0 10px;
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 3px;
    padding: 10px 0;
    overflow: hidden;
    padding: 0px 10px 10px 10px;
    display: grid;
    grid-template-rows: aut 50%;
    background: #fff;
}

.sc-payment__title{
    font-weight: bold;
    text-align: center;
}

.dc-payment__wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px auto;
    width: 72%;
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 3px;
    height: 33px;
}

.sc-payment-item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.payment_active{
    background: #2b637e;
    color: #fff;
}

.state-title{
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.state-row{
    margin: 2% 10px 0 10px;
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 3px;
    padding: 10px 0;
    overflow: hidden;
    padding: 0px 0px 10px 5px;
    display: grid;
    grid-template-columns: 54% 46%;
    grid-template-rows: 67px auto;
}

.robot-icon{
    height: 50px;
    position: absolute;
    left: -12px;
}

.st_state, .st_dt{
    padding: 2px 0 8px 0;
    
}

.order-n{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0px 0 60px;
}

.status_done{
    color: #33b150;
}

.status_wait{
    color:#d8d510;
}

.status_fail{
    color: #d21212;
}

.st_process{
    background: #fffdc7;
    
}

.st_done{
    background: #33b150;
    color: #fff;
}

.st_fail{
    background: #d21212;
    color:#fff;
}

.status_none{
    color:#71777d;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
}

.st_dt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sum-body{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin: 5px 0;
    color: #2b637e;
}

.sc-payment-block{
    margin: 5% 10px 0px 10px;
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 3px;
    padding: 10px 0;
    overflow: hidden;
    padding: 10px 10px 20px 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: #fff;
    gap: 10px;
}

.sc-payment-block input{
    box-shadow: 0 0 1px 1px #c7c7c7;
    border-radius: 2px;
    height: 33px;
    outline: none;
    border: none;
    background: no-repeat;
}

.pb-email, .pb-phone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pb-email__title, .pb-phone__title{
    font-weight: bold;
    text-align: center;
}

.sc-row{
    box-shadow: 0 0 1px 1px #ff0000;
    background: #e8f5ff;
}

.status_active{
    background: #2b637e;
    color: #fff;
}

.qr{
    margin: 16px 0;
}

.message-body{
    grid-column-start: 1;
    grid-column-end: 3;
}

.office-body{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.show-phone{
    box-shadow: 0 0 1px 1px #2b637e;
    height: 38px;
    width: 60%;
    margin: 9px auto;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    background: #fff;
}

.sh-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 41px;
    color: #2b637e;
}

.email-error{
    color: #ff5252;
    margin: 3px 0 0px 0;
}

.to-list{
    margin: 14px 0 0 0;
    background: #2b637e;
    color: #fff;
}

.cr-phone{
    padding: 5px 0;
    color: #2b637e;
}

.cr-phone i{
    font-size: 23px;
    margin: 0 0 0 7px;
}

.cl-status-voice{
    color: rgb(85, 32, 134);
}

.voice-comment{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
}