ion-content div.ion-padding ion-button.call{
    margin-right: 0;
}
.ion-padding{
  h1 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 2.5em;
    ion-button {
      --background: transparent;
      color: var(--corporate);
      --box-shadow: none;
      margin: 0 10px;
    }

    a {
      float: right;
      color: #2b637e;
      font-weight: normal;
    }
  }
}
