<ion-content>
  <div class="ion-padding">
    <h1>Частично доставлено <a (click)="dismiss('cancel')">Закрыть</a></h1>
    <app-goods-table #goodsTable [goods]="goods" [isChangeble]="true"></app-goods-table>
    <ion-button class='call' expand='full' fill='solid' (click)="scanReturned()">
      Сканировать возврат
    </ion-button>
    <app-client-receipt #receipt [pay_type_change_allowed]="pay_type_change_allowed" [pay_type]="pay_type">
    </app-client-receipt>
    <ion-button [disabled]="!cardNums && selectedPayment == '2'" expand="full" fill="solid" shape="round"
      class='light-blue-button action' (click)="dismiss()">
      Доставлено
    </ion-button>
  </div>

</ion-content>